@font-face {
    font-family: "YEFONTManHuaTi 標準";
    src: url("也字工厂漫画体.eot"); /* IE9 */
    src: url("也字工厂漫画体.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("也字工厂漫画体.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("也字工厂漫画体.woff") format("woff"), /* chrome, firefox */
    url("也字工厂漫画体.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("也字工厂漫画体.svg#YEFONTManHuaTi 標準") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


