@font-face { 
    font-family: 'FJY'; 
    src: url('../fonts/也字工厂弗吉亚体.ttf') format('truetype');
    /* font-weight: 100; */
    font-style: normal;
    font-weight:bold
}

@font-face { 
    font-family: 'comic'; 
    src: url('../fonts/也字工厂漫画体.ttf') format('truetype');
    /* font-weight: 100; */
    font-style: normal;
    font-weight:bold
}


