/* -------------------------------段落设置：首行缩进2字符--------------------------------------- */
p {
 /* text-indent: 2em;  首行缩进2个字符 */
  text-align: justify; /* 两端对齐 */
 /* text-justify: newspaper;  悬挂缩进 */ 
}

/* ----------------------------------------滚动条---------------------------------------- */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff7fb0;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }

/* ----------------------------------首页卡面擦亮效果 ---------------------------------- */
#recent-posts > .recent-post-item:not(a)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to right, transparent, white, transparent);
    transform: translateX(-200%);
    transition: transform 0.5s linear;
    z-index: 1;
  }
  #recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
  }
/* ----------------------------------------Live2D ---------------------------------------- */
/* live2d 模型居右 */
#oml-stage {
  left: 13px !important;
  right: auto !important;
  z-index: 30 !important;
}
/* live2d tips 深色 */
[data-theme='dark'] #oml-tips {
  background-color: #121212;
  border: 2px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0 0 5px #999); */
  filter: none;
}
/* live2d 左边提示 深色 */
[data-theme='dark'] #oml-levitated-btn {
  background-color: #121212;
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px #999;
}
/* live2d 切换按钮 深色 */
[data-theme='dark'] #oml-controls .oml-control-item {
  background-color: #1f1f1f;
}
[data-theme='dark'] #oml-controls .oml-control-item:hover {
  background-color: #787878;
}
[data-theme='dark'] #oml-controls .oml-control-item svg {
  color: rgba(255, 255, 255, 0.7);
}
/* ----------------------------------------Live2D 结束---------------------------------------- */


/* ---------------------------------------首页头图加载--------------------------------------- */
.pl-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  will-change: transform; /* 添加性能优化 */
  animation: blur-to-clear 2s cubic-bezier(.62,.21,.25,1) 0s 1 normal backwards running, scale 1.5s cubic-bezier(.62,.21,.25,1) 0s 1 both;
}
.pl-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s;
}

@keyframes blur-to-clear {
  0% {
    filter: blur(50px);
    opacity: 1;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1.5) translateZ(0);
    opacity: 0;
  }
  to {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

.pl-visible {
  opacity: 1;
}

.pl-blur {
  /* 小图锯齿多，增加高斯模糊 */
  filter: blur(50px);
}
/* ---------------------------------------首页头图结束--------------------------------------- */



/* ---------------------------------------个人信息卡--------------------------------------- */
#aside-content .card-widget {
  border-radius: 28px;
}
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #FFED46, #FF7EC7, #7cf7ff, #4b73ff
  );
  /* background: transparent !important; */
  box-shadow: 0 0 10px rgba(210, 210, 210, 0.463);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}



/* ---------------------------------------修改的一些首页样式--------------------------------------- */
/* 最新文章标志 */
#recent-posts > .recent-post-item .recent-post-info .newPost {
  color: #f40c7a;
}
/* 首页卡片圆角 */
#recent-posts > .recent-post-item {
  border-radius: 25px;
}
/* 和风天气插件位置 */
#he-plugin-simple a, #he-plugin-simple br, #he-plugin-simple div, #he-plugin-simple footer, #he-plugin-simple h1, #he-plugin-simple h2, #he-plugin-simple h3, #he-plugin-simple h4, #he-plugin-simple h5, #he-plugin-simple h6, #he-plugin-simple header, #he-plugin-simple hr, #he-plugin-simple li, #he-plugin-simple ol, #he-plugin-simple p, #he-plugin-simple span, #he-plugin-simple ul {
  box-sizing: border-box;
  line-height: 1.42857143!important;  
  margin-left: 50px;
  margin-top: 4px;
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  /* position: absolute; */
  /* height: 100%; */
  background: 0 0;
  position: absolute;
  top: 50%;
}

/* ---------------------------------------头像呼吸灯--------------------------------------- */

[data-theme="light"] .avatar-img {
  animation: huxi_light 2s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  animation: huxi_dark 2s ease-in-out infinite;
}
@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}
/*----------------------------------切换背景与字体------------------------------------- */


/* winbox样式(这块照抄即可) */
.winbox {
  border-radius: 12px;
  overflow: hidden;
}

.wb-body {
  background-color: #ffa0be;
}

.wb-full {
  display: none;
}

.wb-min {
  background-position: center;
}

[data-theme="dark"] .wb-body,
[data-theme="dark"] #changeBgBox {
  background: #333 !important;
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
  height: 100px;
  width: 166px;
  margin: 10px;
  border-radius: 10px !important;
  background-size: cover;
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden;
}

.imgbox:hover,
.pimgbox:hover,
.box:hover {
  border: 3px solid var(--text-bg-hover);
}

.pimgbox {
  height: 240px;
}

.imgbox {
  height: 95px;
}

@media screen and (max-width: 768px) {
  /* 背景 */
  .pimgbox,
  .imgbox,
  .box {
    height: 73px;
    width: 135px;
  }
  .pimgbox {
    height: 205px;
  }

  /* 2.0新增内容 */
  .wb-min {
    display: none;
  }
  #changeBgBox .wb-body::-webkit-scrollbar {
    display: none;
  }
}

/* 背景图片链接输入框placeholder*/
input#pic-link::-webkit-input-placeholder {
  color: rgb(150, 150, 150);
}

input#pic-link {
  width: 82%;
  border-radius: 30px;
  border: 1px solid var(--theme-color);
  padding: 5px 10px 5px 10px;
  line-height: 2;
  outline: 1px solid var(--theme-color);
}


/* 导航栏颜色 */
#page-header.nav-fixed #nav {
  /* background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%); */
  opacity: 0.9;
}
[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.95) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}


/* 调节字体显示栏目 */
#swfs {
  display: flex;
  flex-wrap: wrap;
}
.swf {
  position: fixed;
  padding: 10px;
  font-size: 17px;
  background-color: white;
  /* 字体选择框边界由js指定 */
  border: 2px solid var(--border-color);
  border-radius: 20px !important;
  margin: 8px;
}

.swf:hover {
  text-decoration: none !important;
  background: var(--text-bg-hover);
}
/*----------------------------------切换背景与字体结束------------------------------------- */



/*----------------------------------列表li样式更改------------------------------------- */

#article-container ul > li:not(.tab)::before {
  top: 0.78em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.6em;
  content: "♥";
  line-height: 0.6em;
}

#article-container ul li::before {
  color: rgb(255, 255, 255);

}
/*----------------------------------列表li样式更改结束------------------------------------- */



/*----------------------------------页脚的运行时间样式更改------------------------------------- */
div#runtimeTextTip {
  font-size: 20px;
  font-family: 'comic';
  /* margin: 15px; */
}
.copyright {
  /* margin: 15px; */
  font-size: 18px;
  color: brown;
  font-family: 'comic';
}
img.workSituationImg.boardsign.entered.loaded {
  margin: 15px;
}
@font-face {
  font-family: 'comic';
  src: url("https://fastly.jsdelivr.net/gh/wytgm/BlogImg/font/也字工厂漫画体.ttf");
  font-display: swap;
}

/*----------------------------------页脚的运行时间样式更改结束------------------------------------- */